<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<footer>
		<a href="https://github.com/CraigFoote/ca.footeware.web-4.x.x"
			target="_blank"> <img alt="Open Source at Github"
			src="/images/github.png" title="Open Source at Github" />
		</a> <a href="http://projects.spring.io/spring-boot/" target="_blank">
			<img src="/images/spring-boot-icon.png" alt="Made with Spring Boot"
			title="Made with Spring Boot" />
		</a> <a href="http://getbootstrap.com/" target="_blank"> <img
			src="/images/bootstrap.png" alt="Made with BootStrap"
			title="Made with BootStrap" /></a> <a href="mailto:craigfoote@gmail.com"
			class="btn btn-primary" role="button">Email</a>
	</footer>
</body>
</html>