<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<header>
		<h1 class="title large">Footeware</h1>
		<nav>
			<a href="/home" class="btn btn-primary" role="button">Home</a> <a
				href="/photos" class="btn btn-primary" role="button">Photos</a> <a
				href="/gear" class="btn btn-primary" role="button">Gear</a> <a
				href="/webcam" class="btn btn-primary" role="button">Webcam</a> <a
				href="/jokes" class="btn btn-primary" role="button">Jokes</a>
		</nav>
	</header>
</body>
</html>