<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<header th:replace="fragments/header :: header"></header>
	<section>
		<h3 class="title">Gear</h3>
		<div style="overflow: auto;">
			<div id="gearContainer">
				<a title="Nikon D7000" data-fancybox="gallery"
					href="/images/photos/nikon.jpg"><img class="bordered"
					src="/images/photos/nikon-tn.jpg" alt="Nikon D7000" /></a>
			</div>
			<ul id="gearList">
				<li>Camera - <a
					href="http://www.dpreview.com/products/nikon/slrs/nikon_d7000"
					target="_blank">Nikon D-7000</a></li>
				<li>Lens - <a
					href="http://www.dpreview.com/products/nikon/lenses/nikon_18-200_3p5-5p6_vr_afs_ii"
					target="_blank">Nikon AF-S DX Nikkor 18-200mm f/3.5-5.6G ED VR
						II</a></li>
				<li>Tripod - <a
					href="http://www.bhphotovideo.com/c/product/728796-REG/Benbo_BEN106C_Benbo_Trekker_Mk3_Compact.html"
					target="_blank">Benbo Trekker Mk 3 Compact Aluminum Tripod with
						Ball Head</a><br /></li>
				<li>Software - <a href="https://wiki.gnome.org/Apps/Shotwell"
					target="_blank">Shotwell</a>, <a
					href="http://ufraw.sourceforge.net/" target="_blank">UFRaw</a>, <a
					href="https://www.gimp.org/" target="_blank">GIMP</a></li>
			</ul>
		</div>
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>