<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Footeware.ca</title>
<link rel="icon" type="image/png" href="/images/favicon.ico" />
<link href="/styles/screen.css" rel="stylesheet" type='text/css' />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<h1>Footeware</h1>
		<nav>
			<a href="/home" class="btn btn-primary" role="button">Home</a> <a
				href="/photos" class="btn btn-primary" role="button">Photos</a> <a
				href="/gear" class="btn btn-primary disabled" role="button">Gear</a>
		</nav>
	</header>
	<section>
		<div>
			<div class="left narrow center">
				<img src="/images/photo.png" height="50" width="50" />
			</div>
			<ul class="left narrow center">
				<li><a
					href="http://www.dpreview.com/products/nikon/slrs/nikon_d7000"
					target="_blank">Nikon D-7000</a></li>
				<li><a
					href="http://www.dpreview.com/products/nikon/lenses/nikon_18-200_3p5-5p6_vr_afs_ii"
					target="_blank">Nikon AF-S DX Nikkor 18-200mm f/3.5-5.6G ED VR
						II</a></li>
				<li><a
					href="http://www.bhphotovideo.com/c/product/728796-REG/Benbo_BEN106C_Benbo_Trekker_Mk3_Compact.html"
					target="_blank">Benbo Trekker Mk 3 Compact Aluminum Tripod with
						Ball Head</a></li>
				<li><a href="https://wiki.gnome.org/Apps/Shotwell"
					target="_blank">Shotwell</a>, <a
					href="http://ufraw.sourceforge.net/" target="_blank">UFRaw</a>, <a
					href="https://www.gimp.org/" target="_blank">GIMP</a></li>
			</ul>
		</div>
	</section>
	<footer>
		<a href="mailto:craigfoote@gmail.com" class="btn btn-primary"
			role="button">Email</a>
	</footer>
</body>
</html>