<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Footeware.ca</title>
<link rel="icon" type="image/png" href="/images/favicon.ico" />
<link href="/styles/screen.css" rel="stylesheet" type='text/css' />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<h1 class="title large">Footeware</h1>
		<nav>
			<a href="/home" class="btn btn-primary disabled" role="button">Home</a>
			<a href="/photos" class="btn btn-primary" role="button">Photos</a> <a
				href="/gear" class="btn btn-primary" role="button">Gear</a> <a
				href="/webcam" class="btn btn-primary" role="button">Webcam</a> <a
				href="/jokes" class="btn btn-primary" role="button">Jokes</a>
		</nav>
	</header>
	<section>
		<h3 class="title">Home</h3>
		<div>
			<img src="/images/programmer.jpg" class="center bordered" />
		</div>
	</section>
	<footer>
		<a href="http://projects.spring.io/spring-boot/" target="_blank"><img
			src="/images/spring-boot-icon.png" alt="Made with Spring Boot" /></a> <a
			href="http://getbootstrap.com/" target="_blank"><img
			src="/images/bootstrap.png" alt="Made with BootStrap" /></a> <a
			href="mailto:craigfoote@gmail.com" class="btn btn-primary"
			role="button">Email</a>
	</footer>
</body>
</html>