<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Footeware.ca</title>
<link rel="icon" type="image/png" href="/images/favicon.ico" />
<link href="/styles/screen.css" rel="stylesheet" type='text/css' />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<h1 class="title large">Footeware</h1>
		<nav>
			<a href="/home" class="btn btn-primary" role="button">Home</a> <a
				href="/photos" class="btn btn-primary" role="button">Photos</a> <a
				href="/gear" class="btn btn-primary" role="button">Gear</a> <a
				href="/webcam" class="btn btn-primary" role="button">Webcam</a> <a
				href="/jokes" class="btn btn-primary" role="button">Jokes</a>
		</nav>
	</header>
	<section>
		<h3 class="title">Jokes</h3>
		<div>
			<p th:if="${joke}" th:text="${joke}"></p>
			<ol th:if="${titles}">
				<li th:each="title : ${titles}"><a
					th:href="@{'/jokes/' + ${title}}" th:text="${title}"></a></li>
			</ol>
		</div>
	</section>
	<footer>
		<a href="mailto:craigfoote@gmail.com" class="btn btn-primary"
			role="button">Email</a>
	</footer>
</body>
</html>