<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<header th:replace="fragments/header :: header"></header>
	<section>
		<h3 class="title">Jokes</h3>
		<div>
			<ol th:if="${titles}">
				<li th:each="title : ${titles}"><a
					th:href="@{'/jokes/' + ${title}}" th:text="${title}"></a></li>
			</ol>
			<p class="right">
				<a href="/addjoke" class="btn btn-primary" role="button">Add</a>
			</p>
		</div>
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>>
</body>
</html>