<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<header th:replace="fragments/header :: header"></header>
	<section>
		<h3 class="title">Photos</h3>
		<div>
			<ul class="center">
				<li class="inline"><a title="Golden Gate Bridge"
					data-fancybox="gallery" data-caption="Golden Gate Bridge"
					href="/images/photos/_DSC1195.jpg"><img
						src="/images/photos/_DSC1195-tn.jpg" alt="Golden Gate Bridge" /></a></li>
				<li class="inline"><a title="Alcatraz" data-fancybox="gallery"
					data-caption="Alcatraz" href="/images/photos/_DSC1239.jpg"><img
						src="/images/photos/_DSC1239-tn.jpg" alt="Alcatraz" /></a></li>
				<li class="inline"><a title="Sea Lion" data-fancybox="gallery"
					data-caption="Sea Lion" href="/images/photos/_DSC1254.jpg"><img
						src="/images/photos/_DSC1254-tn.jpg" alt="Sea Lion" /></a></li>
				<li class="inline"><a title="Berries" data-fancybox="gallery"
					data-caption="Berries" href="/images/photos/_DSC1130.jpg"><img
						src="/images/photos/_DSC1130-tn.jpg" alt="Berries" /></a></li>
				<li class="inline"><a title="Backlit Leaves"
					data-fancybox="gallery" data-caption="Backlit Leaves"
					href="/images/photos/_DSC1124.jpg"><img
						src="/images/photos/_DSC1124-tn.jpg" alt="Backlit Leaves" /></a></li>
				<li class="inline"><a title="Mer Bleue Walkway"
					data-fancybox="gallery" data-caption="Mer Bleue Walkway"
					href="/images/photos/_DSC1109.jpg"><img
						src="/images/photos/_DSC1109-tn.jpg" alt="Mer Bleue Walkway" /></a></li>
				<li class="inline"><a title="Tamarack Branch"
					data-fancybox="gallery" data-caption="Tamarack Branch"
					href="/images/photos/_DSC1119.jpg"><img
						src="/images/photos/_DSC1119-tn.jpg" alt="Tamarack Branch" /></a></li>
				<li class="inline"><a title="Logy Bay Cliffs"
					data-fancybox="gallery" data-caption="Logy Bay Cliffs"
					href="/images/photos/dsc_0878.jpg"><img
						src="/images/photos/dsc_0878-tn.jpg" alt="Logy Bay Cliffs" /></a></li>
				<li class="inline"><a title="St. John's at Dusk"
					data-fancybox="gallery" data-caption="St. John's at Dusk"
					href="/images/photos/dsc_0825.jpg"><img
						src="/images/photos/dsc_0825-tn.jpg" alt="St. John's at Dusk" /></a></li>
				<li class="inline"><a title="Sandpiper" data-fancybox="gallery"
					data-caption="Sandpiper" href="/images/photos/dsc_0766a.jpg"><img
						src="/images/photos/dsc_0766a-tn.jpg" alt="Sandpiper" /></a></li>
				<li class="inline"><a title="Boat in Grass"
					data-fancybox="gallery" data-caption="Boat in Grass"
					href="/images/photos/dsc_0723b.jpg"><img
						src="/images/photos/dsc_0723b-tn.jpg" alt="Boat in Grass" /></a></li>
				<li class="inline"><a title="Thistle" data-fancybox="gallery"
					data-caption="Thistle" href="/images/photos/dsc_0786a.jpg"><img
						src="/images/photos/dsc_0786a-tn.jpg" alt="Thistle" /></a></li>
				<li class="inline"><a title="Shed" data-fancybox="gallery"
					data-caption="Shed" href="/images/photos/dsc_0794.jpg"><img
						src="/images/photos/dsc_0794-tn.jpg" alt="Shed" /></a></li>
				<li class="inline"><a title="Darlene and Sarah"
					data-fancybox="gallery" data-caption="Darlene and Sarah"
					href="/images/photos/dsc_0818.jpg"><img
						src="/images/photos/dsc_0818-tn.jpg" alt="Darlene and Sarah" /></a></li>
				<li class="inline"><a title="Pitcher Plant"
					data-fancybox="gallery" data-caption="Pitcher Plant"
					href="/images/photos/dsc_0612.jpg"><img
						src="/images/photos/dsc_0612-tn.jpg" alt="Pitcher Plant" /></a></li>
				<li class="inline"><a title="Female Mallard"
					data-fancybox="gallery" data-caption="Female Mallard"
					href="/images/photos/dsc_0627.jpg"><img
						src="/images/photos/dsc_0627-tn.jpg" alt="Female Mallard" /></a></li>
				<li class="inline"><a title="David and Kerry"
					data-fancybox="gallery" data-caption="David and Kerry"
					href="/images/photos/dsc_0438a.jpg"><img
						src="/images/photos/dsc_0438a-tn.jpg" alt="David and Kerry" /></a></li>
				<li class="inline"><a title="Dean and Julia"
					data-fancybox="gallery" data-caption="Dean and Julia"
					href="/images/photos/dsc_0484.jpg"><img
						src="/images/photos/dsc_0484-tn.jpg" alt="Dean and Julia" /></a></li>
				<li class="inline"><a title="Paul and Julia"
					data-fancybox="gallery" data-caption="Paul and Julia"
					href="/images/photos/dsc_0387.jpg"><img
						src="/images/photos/dsc_0387-tn.jpg" alt="Paul and Julia" /></a></li>
				<li class="inline"><a title="Shed by the Shore"
					data-fancybox="gallery" data-caption="Shed by the Shore"
					href="/images/photos/dsc_0505.jpg"><img
						src="/images/photos/dsc_0505-tn.jpg" alt="Shed by the Shore" /></a></li>
				<li class="inline"><a title="Grand Bank"
					data-fancybox="gallery" data-caption="Grand Bank"
					href="/images/photos/dsc_0499.jpg"><img
						src="/images/photos/dsc_0499-tn.jpg" alt="Grand Bank" /></a></li>
				<li class="inline"><a title="Abandoned House"
					data-fancybox="gallery" data-caption="Abandoned House"
					href="/images/photos/dsc_0570.jpg"><img
						src="/images/photos/dsc_0570-tn.jpg" alt="Abandoned House" /></a></li>
				<li class="inline"><a title="Burin House"
					data-fancybox="gallery" data-caption="Burin House"
					href="/images/photos/IMG_1518.jpg"><img
						src="/images/photos/IMG_1518-tn.jpg" alt="Burin House" /></a></li>
				<li class="inline"><a title="Coloring" data-fancybox="gallery"
					data-caption="Coloring" href="/images/photos/IMG_1275.jpg"><img
						src="/images/photos/IMG_1275-tn.jpg" alt="Coloring" /></a></li>
				<li class="inline"><a title="Sarah" data-fancybox="gallery"
					data-caption="Sarah" href="/images/photos/img_0407.jpg"><img
						src="/images/photos/img_0407-tn.jpg" alt="Sarah" /></a></li>
				<li class="inline"><a title="Cape Spear"
					data-fancybox="gallery" data-caption="Cape Spear"
					href="/images/photos/img_0344.jpg"><img
						src="/images/photos/img_0344-tn.jpg" alt="Cape Spear" /></a></li>
				<li class="inline"><a title="Deer in Evening"
					data-fancybox="gallery" data-caption="Deer in Evening"
					href="/images/photos/DSC_0170d.jpg"><img
						src="/images/photos/DSC_0170d-tn.jpg" alt="Deer in Evening" /></a></li>
				<li class="inline"><a title="B&amp;W Tree"
					data-fancybox="gallery" data-caption="B&amp;W Tree"
					href="/images/photos/img_1394a.jpg"><img
						src="/images/photos/img_1394a-tn.jpg" alt="B&amp;W Tree" /></a></li>
			</ul>
		</div>
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>